body,
input,
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

body,
p {
    margin: 0;
}

.a4-container {
    width: 210mm;
    min-height: 297mm;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid transparent;
}

/* Чекбоксы для фитров отображения архивных и погашенных */
.checkbox-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    gap: 15px;
    bottom: 140px;
    right: 20px;
}

.checkbox-container label {
    cursor: pointer;
}

/* Стили для кнопки возврата в список ЖП */
#back-btn {
    position: fixed;
    /* Фиксируем положение кнопки */
    bottom: 80px;
    /* Расстояние от нижнего края окна */
    right: 20px;
    /* Расстояние от правого края окна */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    z-index: 1000;
    /* Убедитесь, что кнопка поверх остального контента */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#back-btn:hover {
    background-color: #0056b3;
}

/* Стили для кнопки авторизации */
#auth-btn {
    position: fixed;
    /* Фиксируем положение кнопки */
    top: 20px;
    /* Расстояние от нижнего края окна */
    right: 20px;
    /* Расстояние от правого края окна */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    z-index: 1000;
    /* Убедитесь, что кнопка поверх остального контента */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#auth-btn:hover {
    background-color: rgb(150, 0, 0);
}

/* Стили для кнопки "New" */
#new-btn {
    display: none;
    position: fixed;
    /* Фиксируем положение кнопки */
    bottom: 20px;
    /* Расстояние от нижнего края окна */
    right: 20px;
    /* Расстояние от правого края окна */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    z-index: 1000;
    /* Убедитесь, что кнопка поверх остального контента */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#new-btn:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 5px;
    border: 1px solid;
    overflow: hidden;
    white-space: wrap;
}

.table th {
    font-weight: normal;
    background: #dddddd;
    text-align: center;
}

.table .light {
    font-weight: bold;
    font-size: 15px;
}

.table td {
    /* Перенос слов */
    overflow-wrap: break-word;
    /* Для старых браузеров */
    word-break: break-word;
    /* Автоматическая расстановка переносов */
    hyphens: auto;
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #eeeeee;
}

/* .table tbody tr:hover {
    background-color: #bfd3f7;
} */

/* Стили для выделения первых четырех колонок */
.highlight-group1 {
    background-color: #bfd3f7;
}

/* Стили для выделения последних двух колонок */

.highlight-group2 {
    background-color: #bfd3f7;
}

/* Подсветка неархивной записи */
.highlight-not-archive {
    font-weight: bold;
}

/* Подсветка архивированной записи (иконка архива) */
tr.highlight-archive td:last-child {
    position: relative;
    padding-bottom: 30px;
    /* Место для иконки */
}

tr.highlight-archive td:last-child::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    background-image: url("/frontend/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.highlight-ii-cd {
    color: grey;
    text-decoration: line-through;
}

.highlight-ii-cd td:nth-child(5) {
    text-decoration: none;
}

/* Модальное окно для формы */
#new-form-container,
#edit-zp-container,
#auth-form-container {
    position: fixed;
    /* Фиксируем положение окна */
    top: 50%;
    /* Центрируем по вертикали */
    left: 50%;
    /* Центрируем по горизонтали */
    transform: translate(-50%, -50%);
    /* Сдвигаем на половину ширины и высоты */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Убедитесь, что окно поверх остального контента */
    display: none;
    /* Скрыто по умолчанию */
}

/* Стили для полей формы */
#new-form label,
#edit-zp label,
#auth-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#new-form input,
#edit-zp input,
#auth-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

#new-form button,
#edit-zp button,
#auth-form button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#new-form button:hover,
#edit-zp button:hover,
#auth-form button:hover {
    background-color: #0056b3;
}

#new-form #form-delete-btn,
#edit-zp #zp-delete-btn {
    background-color: red;
    padding: 10px 10px;
}

#new-form #form-delete-btn:hover,
#edit-zp #zp-delete-btn:hover {
    background-color: rgb(150, 0, 0);
}

/* Фон за модальным окном */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

@media print {
    @page {
        size: A4;
        margin: 1cm 1cm 1cm 2cm;
    }

    /* Отключаем кнопки для отображения при печати */
    #back-btn,
    #new-btn,
    #toggle-doc-btn,
    #auth-btn {
        display: none !important;
    }

    /* Отключаем иконку подсветки архивированной строки при печати */
    .highlight-archive::after {
        display: none !important;
    }

    /* Убираем отступ для иконки архивированной записи */
    .highlight-archive {
        padding-bottom: 5px !important;
        /* Место для иконки */
    }

    /* Убираем серый цвет при печати*/
    .highlight-ii-cd {
        color: transparent !important;
    }
}