<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Компания «Стальэнерго»</title>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Главная</a></li>
					<li><a href="/portal/docs">Документация</a></li>
					<li><a href="/">Каталог продукции</a></li>
					<li><a href="/portal/contacts">Контакты</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>&copy; 2025 Компания «Стальэнерго». Все права защищены.</p>
		</footer>
	</body>
</html>
