---

---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Компания «Стальэнерго»</title>
		<link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Главная</a></li>
					<li>
						<a href="/admin/" target="_blank"
							>Администрирование пользователей</a
						>
					</li>
					<li>
						<a href="/app/prod/" target="_blank"
							>Каталог продукции</a
						>
					</li>
					<li>
						<a href="/app/zp/" target="_blank">Журнал предложений</a
						>
					</li>
					<li>
						<a href="/api/log" target="_blank"
							>Лог изменений каталога продукции</a
						>
					</li>
					<li>
						<a href="http://172.22.1.106:8065" target="_blank"
							>Корпоративный Чат</a
						>
					</li>
					<li>
						<a href="/docs">Документация организационная</a>
					</li>
					<li><a href="/contacts">Контакты</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>&copy; 2025 Компания «Стальэнерго». Все права защищены.</p>
		</footer>
	</body>
</html>
