---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Документация">
	<section class="docs-content">
		<h1>Документация</h1>
		<p>
			Здесь вы найдете всю необходимую внутреннюю документацию и нормативы
			действующие в компании.
		</p>

		<div class="file-links">
			<h2>Скачать документы</h2>
			<ul>
				<li>
					<a target="_blank" href="/documents/МУ.pdf"
						>Методические указания. Порядок разработки и оформления
						текстовых документов. Редакция 4. 2025г</a
					>
					<p>
						Нормативный документ компании, регламентирующий создание
						и редактирование текстовых и графических документов.
					</p>
					<a
						target="_blank"
						href="/documents/Приложение Б.1 - Пример выполнения титульного листа ТД.pdf"
						>Приложение Б.1 - Пример выполнения титульного листа ТД</a
					>
					<a
						target="_blank"
						href="/documents/Приложение Б.2 - Пример выполнения титульного листа ТД с согласованием сторонними организациями.pdf"
						>Приложение Б.2 - Пример выполнения титульного листа ТД
						с согласованием сторонними организациями</a
					>
				</li>
				<li>
					<a
						target="_blank"
						href="/documents/ЕИУС.3000009.001 И1 Порядок обращения док-ции на пред-тии.pdf"
						>ЕИУС.3000009.001 И1 Порядок обращения документации на
						предприятии</a
					>
					<p>Краткое описание содержимого.</p>
				</li>
				<li>
					<!-- <a target="_blank" href="/documents/Копия ТЕЛЕФОНЫ от 09.10.2024.XLSX">Список телефонов сотрудников</a> -->
					<a href="/documents/tel.xlsx"
						>Список телефонов сотрудников</a
					>
					<p>Краткое описание содержимого.</p>
				</li>
				<li>
					<a
						target="_blank"
						href="/documents/Список нормативных документов.xlsx"
						download>Нормативные документы (ГОСТ, ОСТ, РД и т.д.)</a
					>
					<p>Краткое описание содержимого.</p>
				</li>
			</ul>
		</div>
	</section>
</MainLayout>

<style>
	.docs-content {
		padding: 2rem;
	}
	.file-links ul {
		list-style: none;
		padding: 0;
	}
	.file-links li {
		margin-bottom: 1rem;
	}
	.file-links a {
		color: #007bff;
		text-decoration: none;
	}
</style>
